*.pyc
*.pyo
__pycache__/
logs/
00_downloads/
01_qc_raw/
02_filtered/
03_qc_filtered/
04_contaminants/
05_decontaminated/
06_assemblies/
07_assembly_evaluation/
08_polishing/
09_ragtag/
10_repeat_masking/
busco_downloads/
assembly_output/
seqfetcher/
downloads/